<div class="container-fluid p-0">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <i class="bi bi-house-gear me-2"></i>Orçamento de Móveis
      </a>
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/" routerLinkActive="active">
          <i class="bi bi-list-check me-1"></i> Lista de Orçamentos
        </a>
        <a class="nav-link" routerLink="/novo" routerLinkActive="active">
          <i class="bi bi-plus-circle me-1"></i> Novo Orçamento
        </a>
      </div>
    </div>
  </nav>


  <main class="container my-4">
    <router-outlet></router-outlet>
  </main>
</div>
